<div>
  <div>
    <h1>
      List of users
    </h1>
  </div>
</div>


<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Username
        </th>

        <th>
          Private
        </th>

        <th>
          
        </th>

        <th>
        
        </th>

      </tr>

      <% @list_of_users.each do |a_user| %>
      <tr>
        <td>
          <%= a_user.username %>
        </td>

        <td>
          <% if a_user.private %>
          Yes
          <% else %>
          No
          <% end %>
        </td>
          
        <% if @current_user != nil %>
        <% follow = FollowRequest.where({ :sender_id => @current_user.id, :recipient_id => a_user.id }).at(0) %>
        
          <% if follow == nil %>
              <td>
              <form action="/insert_follow_request" method="post">
              <input type="hidden" name="query_recipient_id" value="<%=a_user.id%>">
              <button>
                Follow
              </button>
              </form>
              </td>
          <% else %>
              <% if follow.status == "accepted" %>
                  <td><a href=/delete_follow_request/<%=follow.id%>>Unfollow</a></td>
              <% else %>
                  <%if follow.status == "pending"%>
                  <td>Request sent.<a href=/delete_follow_request/<%=follow.id%>>Cancel</a></td>
                  <%else%>
                   <td></td>
                  <%end%>
              <% end %>
          <%end%>
        <% end %>
        <td>
          <a href="/users/<%= a_user.username %>">Show details</a>
        </td>



      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
